<div class="container-fluid">
	<div class="page-header">
		<h1>Create Program</h1>
	</div>
	
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

	<form name="programform" role="form">
		<div class="form-group">
			<label for="name">Program Name</label>
			<input type="text" class="form-control" id="name" placeholder="Enter program name" ng-model="program.Name" required="true">
		</div>
		<div class="form-group" ng-class="{'has-error': !programform.wordcount.$valid}">
			<label for="wordcount">Coupon Word Count</label>
			<input type="number" min="1" max="1000" class="form-control" name="wordcount" id="wordcount" placeholder="10" ng-model="program.CouponWordCount">
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<textarea class="form-control" id="description" rows="8" placeholder="Enter a description" required="true" ng-model="program.Description"></textarea>
		</div>
		<div class="form-group">
			<label for="disclaimer">Disclaimer</label>
			<textarea class="form-control" id="disclaimer" rows="8" placeholder="Enter a disclaimer" ng-model="program.Disclaimer"></textarea>
		</div>		
		<div class="form-group">
			<label for="emails">Retailer Emails</label>
			<textarea class="form-control" id="emails" required="true" rows="8" placeholder="Type or Paste Email list (line-break separated)"></textarea>
		</div>
		<div class="form-group">
			<label for="centers">Select Participating Centers</label>
			<div style="height: 20em; overflow-y: scroll; padding: 1em;" class="panel panel-default">
				<label class="checkbox-inline" ng-repeat="mall in malls" style="width: 20%; margin-left: 0">
					<input type="checkbox" name="centers" id="centers" value="{{mall.Id}}" style="position: static;"> {{mall.Name + ' - ' + mall.StateName}}
				</label>
			</div>
		</div>
		<button type="submit" class="btn btn-primary" ng-disabled="!programform.$valid">Submit</button>
	</form>
</div>