<div class="container-fluid">
	<h2 ng-bind-html="program.Name"></h2>

	<div class="row">
		<div class="col-md-6" ng-bind-html="program.Description"></div>
		<div class="col-md-6" ng-bind-html="program.Disclaimer"></div>
	</div>

	<h4 class="text-primary text-center">Act quickly, as space is very limited and offered on a first-come, first-served basis. Send in your reservation TODAY to ensure your participation.</h4>
	
	<div class="row">
		<div class="col-md-6">
			<h3>coupon offer ({{program.CouponWordCount}} words or less):</h3>
			<textarea class="form-control" id="offer" rows="3" placeholder="Enter offer text" required="true" ng-model="retailer.Offer"></textarea>
			<p><small>MMM will provide a proof of your offer and will send via email for approval.</small></p>
		</div>
		<div class="col-md-6">
			<h3>deadlines</h3>
			<ul class="list-group">
				<li class="list-group-item">
					Space Reservations and Coupon Offer
					<span class="label label-primary pull-right" style="font-size: inherit">{{program.DeadlineCoupon | date:'MM-dd-yyyy'}}</span>
				</li>
				<li class="list-group-item">
					In-Mall Date
					<span class="label label-success pull-right" style="font-size: inherit">{{program.DeadlineInMall | date:'MM-dd-yyyy'}}</span>
				</li>
			</ul>
		</div>
	</div>
	
	<h3>please check your participating GGP Shopping Center locations:</h3>
	<div style="padding: 1em;" class="panel panel-default">
		<label class="checkbox-inline" ng-repeat="mall in program.ParticipatingMalls" style="width: 20%; margin-left: 0">
			<input type="checkbox" name="centers" id="centers" ng-click="toggleCenter(mall.Id)" value="{{mall.Id}}" style="position: static;"> {{mall.Name + ' - ' + mall.StateName}}
		</label>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<h3>participation agreement</h3>
			<form role="form">
				<div class="form-group">
					<label for="name">Name</label>
					<input type="text" class="form-control" id="name" placeholder="Name" required="true">
				</div>
				<div class="form-group">
					<label for="retailer">Retailer</label>
					<input type="txt" class="form-control" id="retailer" placeholder="Retailer name" required="true">
				</div>
				<div class="form-group">
					<label for="address">Address</label>
					<input type="text" class="form-control" id="address" placeholder="Address">
				</div>
				<div class="row form-group">
					<div class="col-xs-4">
						<label for="city">City</label>
						<input type="text" id="city" class="form-control" placeholder="City">
					</div>
					<div class="col-xs-2">
						<label for="state">State</label>
						<input type="text" id="state" class="form-control" placeholder="State">
					</div>
					<div class="col-xs-3">
						<label for="zip">Zip</label>
						<input type="text" id="zip" class="form-control" placeholder="Zip">
					</div>
				</div>
				<div class="form-group">
					<label for="rep">MMM Representative</label>
					<input type="text" class="form-control" id="rep" placeholder="MMM Representative">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" class="form-control" id="email" placeholder="Email" disabled="disabled">
				</div>				
				<div class="form-group">
					<strong>Terms and Conditions</strong><br/>
					<small>Space is not confirmed until we receive your signed participation agreement.</small><br/>
					<small>Cancellations must be received by publisher in writing before the space reservation deadline date.</small>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" ng-model="agreed"> I agree to the terms for participation
					</label>
				</div>
				<button type="submit" class="btn btn-default btn-primary" ng-disabled="!agreed">Submit</button>
			</form>
		</div>
		<div class="col-md-6">
			<h3>material guidelines</h3>
			<div class="list-group">
				<a class="list-group-item">
					<h4 class="list-group-item-heading">Material</h4>
					<p class="list-group-item-text">The retailer must provide publisher with coupon copy by the material deadline. If material is not received by the material deadline, it will not be included.</p>
				</a>
				<a class="list-group-item">
					<h4 class="list-group-item-heading">Copy</h4>
					<p class="list-group-item-text">Mall Marketing Media reserves the right to edit supplied copy if the retailer supplies more words than can possibly fit the coupon size. Copywriting assistance is available upon request.</p>
				</a>
				<a class="list-group-item">
					<h4 class="list-group-item-heading">Proofs</h4>
					<p class="list-group-item-text">Proofs will be provided when all materials have been received by publisher by the material deadline date. It is the responsibility of the retailer to make sure all copy is correct. Proofs will be in English. Proofing is to make necessary corrections, not for rewrites. The retailer must be available to approve the proof by date specified or make sure someone is authorized to sign off on the proof in their absence. Proofs must be returned to the publisher by date indicated on proof.<br/><br/>
					All proofs will be sent via fax or email. You must provide either of these options for proofing.</p>
				</a>
				<a class="list-group-item">
					<h4 class="list-group-item-heading">Special Position</h4>
					<p class="list-group-item-text">Unless otherwise agreed in writing, MMM will select the placement of each offer by alphabetical order.</p>
				</a>
				<a class="list-group-item">
					<h4 class="list-group-item-heading">Cancellations</h4>
					<p class="list-group-item-text">Cancellations must be received in writing by publisher before the space reservations deadline date.</p>
				</a>
			</div>
		</div>
	</div>
	
	<h3><img src="/Assets/logonmast.png" class="img-responsive center-block" alt="Responsive image"></h3>
	<div class="text-center">
		
	</div>
</div>