<div class="container-fluid">
	<div class="page-header">
		<h1>Create Program</h1>
	</div>
	
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

	<form role="form">
		<div class="form-group">
			<label for="name">Program Name</label>
			<input type="text" class="form-control" id="name" placeholder="Enter program name" ng-model="program.Name">
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<textarea class="form-control" id="description" rows="8" placeholder="Enter a description"></textarea>
		</div>
		<div class="form-group">
			<label for="centers">Select Participating Centers</label>
			<div style="height:20em; overflow:scroll; padding: 1em;" class="panel panel-default">
				<label class="checkbox-inline" ng-repeat="mall in malls" style="width:20%; margin-left:0">
					<input type="checkbox" name="centers" id="centers" value="{{mall.Id}}" style="position: static;"> {{mall.Name + ' - ' + mall.StateName}}
				</label>
			</div>
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>