<div id="top" class="container-fluid">
	<ol class="breadcrumb">
		<li><a href="/adminmenu">Admin Home</a></li>
		<li class="active">Retailers by Program</li>
	</ol>

	<div class="page-header">
		<h1>Retailers by Program</h1>
	</div>

	<alert ng-repeat="alert in alerter.alerts" type="{{alert.type}}" close="alerter.closeAlert($index)">{{alert.msg}}</alert>

	<div class="panel panel-default">

		<div class="panel-heading">
			<div class="form-group">
				<label class="col-sm-1 control-label" for="centers">Programs</label>
				<select id="centers" ng-model="selectedProgram" ng-change="getRetailersByProgram()" ng-options="program.Name for program in programs">
					<option value="">-- choose program --</option>
				</select>
				<span ng-click="exportReport()" class="glyphicon glyphicon-download-alt"></span>
			</div>
		</div>

		<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>Email</th>
					<th>Store Name</th>
					<th>Program Name</th>
					<th>Has Signed Up</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="retailer in retailers" ng-click="openSignup(retailer.UrlGuid)">
					<td>{{retailer.Email}}</td>
					<td>{{retailer.StoreName}}</td>
					<td>{{retailer.ProgramName}}</td>
					<td><span class="label" ng-class="{'label-success': retailer.HasSignedUp, 'label-danger': !retailer.HasSignedUp}">{{retailer.HasSignedUp ? 'Yes' : 'No'}}</span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
