<div id="top" class="container-fluid">
	<ol class="breadcrumb">
		<li><a href="/adminmenu">Admin Home</a></li>
		<li class="active">Retailers by Center</li>
	</ol>

	<div class="page-header">
		<h1>Retailers by Center</h1>
	</div>

	<alert ng-repeat="alert in alerter.alerts" type="{{alert.type}}" close="alerter.closeAlert($index)">{{alert.msg}}</alert>

	<div class="panel panel-default">

		<div class="panel-heading">
			<div class="form-group">
				<label class="col-sm-1 control-label" for="centers">Centers</label>
				<select id="centers" ng-model="selectedMall" ng-change="getRetailersByMall()" ng-options="mall.Name for mall in malls">
					<option value="">-- choose center --</option>
				</select>
				<span ng-click="exportReport()" class="glyphicon glyphicon-download-alt"></span>
			</div>
		</div>

		<table class="table table-condensed">
			<thead>
				<tr>
					<th>Mall Name</th>
					<th>Retailer Name</th>
					<th>Email</th>
					<th>Program Name</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="retailer in retailers">
					<td>{{retailer.MallNameLabel}}</td>
					<td>{{retailer.StoreName}}</td>
					<td>{{retailer.Email}}</td>
					<td>{{retailer.ProgramName}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
