/*
   Saturday, July 26, 201411:58:25 AM
   User: 
   Server: .
   Database: Toolkit
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Program_Fields SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.Program_Field_Values ADD CONSTRAINT
	FK_Program_Field_Values_Program_Fields FOREIGN KEY
	(
	ProgramFieldId
	) REFERENCES dbo.Program_Fields
	(
	Id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.Program_Field_Values SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
