<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
	<div>
		<table cellspacing="0" cellpadding="0">
			<tr>
				<td width="300" height="40" style="font-size:16px; font-weight: bold; font-family:sans-serif">
					<span>
						You're invited to participate in GGP's tourism initiative branded as America’s Premier Shopping Places. According to research by the U.S. Department of Commerce, shopping and dining are the top two activities of all travelers in the U.S.! We know that visitors stay longer and spend more than local customers and that these expenditures are important to your business.
					</span>
				</td>
			</tr>
			<tr> 
				<td align="center" width="300" height="40" bgcolor="#3071a9" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color: #ffffff; display: block;">
					<br/>
					<a href='<%inviteUrl%>' style="font-size:16px; font-weight: bold; font-family:sans-serif; text-decoration: none; line-height:40px; width:100%; display:inline-block">
						<span style="color: #ffffff;">
							Click to start Reservation
						</span>
					</a>
				</td> 
			</tr> 
		</table> 
	</div>
</body>
</html>
